@font-face {font-family: fs; src: url(fs.woff2);}
@font-face {font-family: fb; src: url(fb.woff2);}
body {background: #0d0d0d; font-family: system-ui, sans-serif;
  box-sizing: border-box; min-height: 100vh; padding: 2em 1em; margin: 0 0 0 66px;
  display: flex; flex-flow: column; justify-content: center; transition: .4s;}
h1, header>ol, header h2, main>article>div>h3 {margin: 0;}
form {display: none; flex-flow: wrap; gap: 1em;}
form>:is(input,button) {background: 0; font-family: inherit; font-size: 1em;}
input {color: #fff; box-sizing: border-box; width: 100%;
  padding: 10px; border: solid 1px #ced4da; border-radius: 8px;}
input::placeholder {color: #ced4da;}
main>div>a, form>button {line-height: 1.5; padding: .375em .75em;
  border-radius: .375em; transition: .15s ease-in-out;}

header {background: #0d0d0d; color: #f9f6f6;
  width: min(209px,calc(100vw - 2*24px - 66px)); padding: 24px;
  position: fixed; inset: 0 auto 0 0; z-index: 1; display: flex; flex-flow: column;
  justify-content: space-between; transition: translate .4s ease-in-out;}
.hd {translate: -100%;}
header>div {background: #fff; color: #000; padding: 24px 8px;
  position: absolute; inset: 0 auto 0 100%; display: flex;
  flex-flow: column;  justify-content: space-between; align-items: center;}
h1>img {vertical-align: middle; width: 50px;}
h1+button {background: 0; font-size: 2em; padding: 10px; border: 0;
  cursor: pointer; -webkit-tap-highlight-color: #0000;}
h1+button::before {content: '\f039'; font-family: fs;}
h1+.hb::before {content: '\58';}
header aside {font-family: fs;}
header aside::before {content: '\f0ac'; display: block; margin: 21px 0 5px;}
header aside::after {content: '\f1e0';}
header>ol {padding-left: 0; overflow: hidden;}
header li {list-style: none; position: relative; top: 0; transition: .4s ease-in-out;}
header>ol.ho>li {top: 100%; transition-delay: 0s;}
header li:nth-child(2) {transition-delay: .1s;}
header li:nth-child(3) {transition-delay: .2s;}
header li:nth-child(4) {transition-delay: .3s;}
header li:nth-child(5) {transition-delay: .4s;}
header h2 {padding: 10px 0; cursor: pointer;}
header nav>a {color: inherit; text-decoration: none;}
header nav>:nth-child(1)::before {content: '\f09a'; font-family: fb;}
header nav>:nth-child(2)::before {content: '\f099'; font-family: fb;}
header nav>:nth-child(3)::before {content: '\f0ac'; font-family: fs;}

form[role] {margin-bottom: 1.5em;}

main {display: grid; gap: 1em;}
main img {vertical-align: middle; width: 100%;}
main :is(h3,h4) {font-weight: 500;}
main>:is(article,h3,hgroup) {cursor: pointer;}
main>:is(article,hgroup) p {font-size: .9em; margin: 0;}
main>article {border-radius: 8px; overflow: hidden; position: relative;}
main>article>div {background: #f9f6f6ca; box-sizing: border-box; width: 100%;
  height: 100%; padding: 8px; text-align: center; display: flex; flex-flow: column;
  justify-content: center; position: absolute; top: 100%; transition: .4s;}
main>article:hover>div {top: 0;}
main>:is(h3,hgroup) {color: #f9f6f6; text-align: center;}
main>hgroup {padding: 10px 0;}
main>hgroup>h3 {margin: 0 0 8px;}
main>h3::before, main>hgroup>h3::before {font-family: fs; font-size: 5em;
  display: block; margin-bottom: 16px;}
main>h3::before {content: '\e066';}
main>hgroup>h3::before {content: '\f6d7';}
main>div {color: #f9f6f6; grid-column: 1/-1;}
main>div>img {border-radius: 8px;}
main>div>h3 {font-size: 2em;}
main>div>h4 {font-size: 1.5em;}
main>div>h4:nth-child(1) {margin: 0;}
main>div>h4:has(+ul) {margin-bottom: 0;}
main>div>ul {padding-left: 0; display: flex; flex-flow: wrap; gap: 1em;}
main>div li {background: #cff4fc; color: #055160; list-style: none;
  padding: 5px; border-radius: 5px;}
main>div>ul+h4+ul>li {background: #f8d7da; color: #842029;}
main>div>a {color: #fff; text-decoration: none;
  border: solid 1px #0000; display: inline-block; margin-top: 1.5em;}
a:has(+[href*='youtube']) {background: #198754; margin-right: 11px;}
[href*='youtube'] {background: #dc3545;}
a:has(+[href*='youtube']):hover {background: #157347;}
[href*='youtube']:hover {background: #bb2d3b;}

main+form {width: 90%; margin: auto;}
main+form>dialog {box-shadow: 0 .5em 1em #00000026; padding: 12px 8px;
  border: solid 1px #ced4da; border-radius: 5px;}
main+form>dialog::before {content: '\21'; background: orange; color: #fff;
  font-weight: 700; padding: 2px 10px; border-radius: 3px; margin-right: 8px;}
main+form>button {color: #dc3545; border: solid 1px #dc3545;}
main+form>button:disabled {opacity: .65;}
main+form>button:enabled:hover {background: #dc3545; color: #fff; cursor: pointer;}

@media (width>612px) {body {padding: 2.5em 2em;} main {grid: auto/1fr 1fr;}}
@media (width>885px) {body {padding: 3em;}
  form[role] {margin-bottom: 2em;} input {width: calc(50% - 8px);}
  main {grid: auto/1fr 1fr 1fr;} main>div:has(img) {grid-column: 1/2;}
  main>div:has(h4) {margin-left: 1.5em; grid-column: 2/-1;}}
@media (width>1126px) {main {grid: auto/repeat(4,1fr);}}

.b {overflow: hidden;}
@keyframes r {100% {rotate: 360deg;}}
.b::after {content: '\f110'; color: #fff; font-family: fs; font-size: 5em;
  position: fixed; inset: -100vmax; z-index: 1; display: flex;
  justify-content: center; align-items: center; animation: r 1.3s linear infinite;}